.SearchPage{
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 20px 20px;
}
 
.Serch_filter{
    display: flex;
    align-items: center;
    color: gray;
    font-size: xx-small !important;
}

.Serch_filter >h2{
    margin-left: 10px;
}